# Backend Environment Variables
PORT=5000

# Gate.io P2P Settings (will be updated via frontend)
MY_TRADER_NAME=EliteTrader
MIN_QUANTITY=0

# Telegram Settings
TELEGRAM_TOKEN=8175763769:AAHMp8p8d3z24jx3xTH2Cuke1pk5Ws38Je8
TELEGRAM_CHAT_ID=1234067637

# Polling interval in seconds (default: 5)
POLLING_INTERVAL=5